* {
  margin: 0%;
}
.img1 {
  background-image: url(../Images/bg1.jpg);
  height: 100vh;
  width: 100%;
}
.img2 {
  background-color: rgb(198, 196, 196);
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.card{
  width:350px;
  height: 300px;
  border: 1px solid rgb(198, 196, 196);
  
}
.card .box{
  width:100%;
  height:50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  background-color: rgb(198, 196, 196);
}
.card .box .circle{
  width:100px;
  height:100px;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-color:rgb(219, 172, 52);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .box .circle svg{
  width: 70px;
  height: 70px;
}
.card h4{
  text-align: center;
  margin-top: 55px;
  font-size:xx-large;
}
.card p{
  text-align: center;
  margin-top: 25px;
  color: grey;
}

.img3 {
  background-color: rgb(219, 172, 52);
  height: 100vh;
  width: 100%;
}
.img4 {
  background-color: rgb(198, 196, 196);
  height: 85vh;
  width: 100%;
  border: 2px solid black;
}
.img5 {
  background-color: rgb(198, 196, 196);
  height: 120vh;
  width: 100%;
}
.img6 {
  background-color: rgb(219, 172, 52);
  height: 100vh;
  width: 100%;
}
.img7 {
  background-color: rgb(198, 196, 196);
  height: 100vh;
  width: 100%;
  /* border: 2px solid black; */
}
.img8 {
  background-color: rgb(219, 172, 52);
  height: 90vh;
  width: 100%;
}
/* header */
.header {
  padding: 50px;
  text-align: center;
  background-color: rgb(105, 104, 104);
  font-size: 30px;
}
.first {
  background-color: rgb(105, 104, 104);
  height: 10px;
  display: flex;
  align-content: center;
}
.first button {
  color: white;
}
.second {
  display: flex;
  justify-content: flex-end;
}
.second a {
  color: white;
}
ul,
li {
  flex: 1;
  max-width: 800px;
}
.navbar-brand {
  font-size: larger;
}
/* header */
.footer {
  padding: 50px;
  text-align: center;
  background-color: rgb(105, 104, 104);
  font-size: 30px;
}
.text1 {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}
.textleft {
  height: 70vh;
  width: 50%;
  /* border: 1px solid rgb(245, 240, 240); */
  border-right: 15px solid goldenrod;
  margin: 5% 0% 15% 20%;
}
.textleft h1 {
  display: flex;
  color: rgb(252, 250, 247);
  align-content: end;
  justify-content: flex-end;
  margin: 10%;
}
.textright {
  height: 60vh;
  width: 50%;
  /* border: 2px solid rgb(245, 240, 240); */
  margin: 5% 0% 0% 0%;
}
.textright p {
  color: aliceblue;
  margin-top: 6%;
  padding: 5%;
  display: flex;
  position: relative;
  word-wrap: break-word;
  /* align-content: flex-start; */
  /* justify-items: flex-start; */
  /* text-align: left; */
}
.img2 h3 {
  color: black;
}
@media (max-width: 1300px) {
  .text1 {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .textleft {
    height: 20vh;
    margin-bottom: 10%;
  }
  .textleft h1 {
    justify-content: flex-end;
  }
  .textright {
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    margin-left: 30%;
    width: 20%;
  }
}
@media();
